* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #9c835f;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
}

/* navbar */
nav.navbar {
  padding: 1.3rem 0;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar .nav-link:hover {
  color: #ffb548;
}

.nav-right {
  display: flex;
}

/* home */
.hero {
  background-image: url("../assets/img/main-bg.jpg");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  padding-top: 7rem;
  justify-content: center;
  align-items: center;
}

.hero #scrolldown {
  padding-top: 12rem;
  line-height: 0.1rem;
}

button.playbutton {
  max-width: 16.25rem;
  max-height: 3.75rem;
  background-color: #ffb548;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
}

/* about */
.about {
  color: #fff;
  background-image: radial-gradient(
      136.03% 54.57% at 50% 48.04%,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0) 60.63%,
      #080a0b 99.74%
    ),
    url("../assets/img/bg2.jpg");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* carousel */
.carousel-control-prev-icon {
  background-image: url("../assets/switch-left.svg");
}

.carousel-control-next-icon {
  background-image: url("../assets/switch-right.svg");
}

.carousel-control-prev {
  justify-content: start;
}

.carousel-control-next {
  justify-content: end;
}

.carousel .carousel-indicators button.active {
  background: url("../assets/ellipse.svg");
  background-repeat: no-repeat;
}

.carousel .carousel-indicators button {
  background: url("../assets/ellipse-outline.svg");
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

/* features */
.features {
  color: #ffffff;
  background-image: url("../assets/img/features.jpg");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* timeline */
.step {
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.v-stepper {
  position: relative;
  visibility: visible;
}

.step .circle {
  border-radius: 100%;
  width: 2.5rem;
  display: inline-block;
}

.step .line {
  top: 1rem;
  left: 0.5rem;
  height: 95%;
  position: absolute;
}

.step .completed .circle {
  visibility: visible;
  width: 2.5rem;
}

.step.completed .line {
  border-left: 1px solid white;
}

.step.active .circle {
  visibility: visible;
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  top: 0;
  height: 150%;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1;
}

.content {
  /* margin-left: 1.25rem; */
  display: inline-block;
}

/* requirements */
.requirements {
  color: #fff;
  background-image: radial-gradient(
      33.26% 45% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #080a0b 99.74%
    ),
    url("../assets/img/bg4.png");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* quotes */
.quotes {
  color: #fff;
  background-image: radial-gradient(
      70.52% 37.27% at 24.21% 47.47%,
      rgba(35, 15, 15, 0) 0%,
      rgba(0, 0, 0, 0) 51.1%,
      #080a0b 99.74%
    ),
    url("../assets/img/top-score-bg.png");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* avatar cards*/
.topscores .card #nerdreactor {
  justify-self: end;
}

.card {
  background-color: #191a1a;
  max-width: 28.5rem;
  /* max-height: 12.8rem; */
}

.ava-bg {
  position: absolute;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  z-index: 1;
  width: 4.5rem;
}

.ava {
  position: absolute;
  z-index: 2;
  width: 4rem;
}

/* namecard */
.namecard {
  padding-top: 1rem;
  padding-left: 6rem;
  line-height: 0.1rem;
}

.twitter-card {
  padding-top: 1rem;
}

/* newsletter */
.newsletter {
  background-color: #080a0b;
  align-items: center;
  min-height: 50vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.newsletter #skull {
  width: 28rem;
}

.newsletter .form-control {
  background-color: #212529;
  color: #ffb548;
  border-color: transparent;
  max-height: 3.8rem;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.6;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label::after {
  content: "";
  margin-left: 0.5rem;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0.9rem;
}

/* footer */
footer {
  background-color: #080a0b;
  padding: 1rem 5rem;
}

.footer-link {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.075rem;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-link:hover {
  color: #ffb548;
}

.iconlink:hover {
  transform: scale(1.3);
}

hr {
  color: #ffffff;
}

.copyright {
  font-size: 0.875rem;
}

/* work */
.work {
  background-image: url("../assets/img/top-score-bg.png");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* contact */
.contact {
  background-image: url("../assets/img/top-score-bg.png");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* about me */
.about-me {
  background-image: url("../assets/img/top-score-bg.png");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* sign up */
.signup {
  background-image: url("../assets/img/top-score-bg.png");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* login */
.login {
  background-image: url("../assets/img/top-score-bg.png");
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* typography */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar.nav-link {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 10%;
}

.hero .content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.188rem;
  color: #fff;
}

.hero .content #scrolldown p {
  font-size: 0.75rem;
}

.requirements .heading h3 {
  font-size: 0.875rem;
}

.tablehead {
  color: #ffb548;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  font-weight: 400;
}

.card .card-date {
  font-size: 0.875rem;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.188rem;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
}

h4 {
  color: #ffb548;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.125rem;
  font-weight: 400;
}

p {
  font-size: 1.125rem;
}

/* media queries */
@media screen and (min-width: 993px) {
  .navbar-brand {
    padding-right: 10rem;
  }

  .nav-right {
    display: flex;
    justify-content: end;
  }

  button.playbutton {
    width: 16.25rem;
    height: 3.75rem;
    background-color: #ffb548;
    border: none;
    border-radius: 0.25rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 576px) {
  .hero .content h1 {
    font-size: 3rem;
  }
  .hero .content h3 {
    font-size: 1rem;
  }

  .about {
    display: flex;
    justify-content: center;
  }

  .sysreq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .topscores-caption {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topscores {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero .content h1 {
    font-size: 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .tablehead {
    font-size: 1rem;
  }

  .footer-link {
    font-size: 0.5rem;
  }

  .carousel .carousel-indicators button.active {
    display: none;
  }

  .carousel .carousel-indicators button {
    display: none;
  }
}

/* game section */
.game-section {
  background-color: #9c835f;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  /* width: 100%;
  height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-section button {
  border: none;
}

ul button {
  background-color: #9c835f;
  max-height: 10rem;
  max-width: 10rem;
}

.back img {
  max-width: 3.438rem;
  margin: 1rem 2rem;
}

.game-icon img {
  max-width: 4.5rem;
  margin: 1rem 2rem;
}

.option img {
  width: 6.25rem;
  margin: 2rem;
  padding: 1rem;
}

.reset img {
  width: 5rem;
  margin: 2rem;
  padding: 1rem;
}

.game-wrapper button {
  margin: 1rem;
}

.player button:hover {
  transform: scale(1.1);
}

.reset:hover {
  cursor: pointer;
  transform: scale(1.1);
}

ul {
  list-style: none;
}
.result {
  white-space: normal;
}

.nowrap {
  white-space: nowrap;
}

.selected {
  background-color: #c4c4c4;
  border-radius: 10%;
}

.result-board {
  background-color: #4c9654;
  border: 1px solid #4c9654;
  border-radius: 5%;
  transform: rotate(-25deg);
  height: 6rem;
  width: 10rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.result-draw {
  background-color: #035b0c;
  border: 1px solid #035b0c;
}

/* game section typography */
.game-section span {
  font-size: 2.25rem;
  font-weight: 700;
  color: #f9b23d;
}

.game-section h1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}
